@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --oc-blue: #36a9e1;
    --oc-dark-blue: #104C6A;
    --oc-yellow: #ffde00;
    --oc-white: #e7e7e7;
    --oc-black: #1B1212;
}


@media only screen and (max-width: 1200px) {
    .offcanvas {
        background-image: url(./assets/23284.jpg);
        background-size: cover;
        background-position: center;
        text-align: left !important;
        font-size: 1.5rem !important;
    }


    .navbar .container-fluid {
        justify-content: end;
    }


    .nav-item {
        margin-top: 0.5rem;
    }


    #hero {
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./assets/overcast-church.jpg) !important;
    }
}


.navbar-toggler {
    border: none;
    color: #ffffff;
    font-size: 2.5rem;
}


.hero-image-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.hero-image-container img {
    width: 25rem;
}


.navbar,
.navbar a {
    color: #ffffff;
}

.navbar {
    padding: 2rem;
}

.navbar .navbar-nav {
    /* margin-top: 45rem; */
}

.navbar-brand {
    max-width: 5rem;
}


.navbar-scrolled {
    background-color: var(--oc-dark-blue) !important;
    padding: 1rem !important;
    transition: background-color 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}


.navbar-scrolled .container-fluid {
    justify-content: space-between;
}


.navbar-scrolled .offcanvas-body {
    font-size: 1.25rem;
    transition: font-size 0.5s;
}


.navbar-scrolled .navbar-nav {
    margin-left: -5rem;
    margin-top: 0;
}


.offcanvas {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.offcanvas button.close {
    color: #ffffff;
    font-size: 2rem;
}

.offcanvas .offcanvas-header .close {
    border: none;
    font-size: 1.75rem;
}


.offcanvas-body {
    color: #ffffff;
    font-size: 2rem;
    justify-content: center;
    transition: font-size 0.5s;
}

.offcanvas-body .nav-link,
.offcanvas-body .nav-link.active {
    color: #ffffff;
}

.offcanvas-body .nav-link:hover {
    text-decoration: underline;
}


.youtube-container {
    max-width: 40rem;
}

.social-media {
    margin-bottom: 1rem;
}

.social-media-link {
    color: var(--oc-white);
    font-size: 2rem;
    text-decoration: none;
    margin: 2rem 0.5rem;
}

.social-media-link:hover {
    color: var(--oc-blue);
}


header .navbar {
    background: none;
    transition: 0.3s ease-in-out;
}

body {
    background-color: #000000 !important;
    font-family: century-gothic, sans-serif;
    max-width: 100vw;
}

main {}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
}

#home-nav-content {
    justify-content: space-evenly;
}

#home-nav-content .nav-item {
    width: 10rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

#home-nav-content .nav-item:nth-of-type(3) {
    margin-right: 20rem;
}


#about {
    background-color: var(--oc-white);
    color: var(--oc-black);
}

#hero {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75)), url(./assets/overcast-church-banner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#merch {
    background-color: var(--oc-yellow);
}

#watch {
    background-color: #242424;
}

#contact {
    background-color: #ffffff;
}

footer {
    background-color: #585858;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
}

section {
    padding: 5rem;
    min-height: 10rem;
}

#about img {
    width: 50%;
    height: auto;
}