@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root {
    --oc-blue: #36a9e1;
    --oc-dark-blue: #2099D5;
    --oc-yellow: #ffde00;
    --oc-dark-yellow: #E0C200;

}


@media only screen and (max-width: 1200px) {
    .offcanvas {
        background-image: url(./assets/23284.jpg);
        background-size: cover;
        background-position: center;
        text-align: left !important;
        font-size: 1.5rem;
    }


    .nav-item {
        margin-top: 0.5rem;
    }


    .navbar-nav {
        margin-left: 0 !important
    }


    #gallery {
        background-position: center !important;
    }
}


.navbar-toggler {
    border: none;
    color: #ffffff;
    font-size: 2.5rem;
}


.navbar-brand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.navbar-brand img {
    width: 25rem;
}


.navbar-brand span {
    font-size: 2rem;
}


.navbar,
.navbar a {
    color: #ffffff;
}

.navbar {
    padding: 2rem;
}


.navbar-nav {
    margin-left: -10rem;
}


.navbar-scrolled {
    background-color: #36a9e1 !important;
    padding: 1rem !important;
    transition: background-color 0.3s;
}


.navbar-scrolled .offcanvas-body {
    font-size: 1rem;
    transition: font-size 0.5s;
}


.offcanvas {
    color: #ffffff;
    font-size: 1rem;
    text-align: center;
}

.offcanvas button.close {
    color: #ffffff;
    font-size: 2rem;
}

.offcanvas .offcanvas-header .close {
    border: none;
    font-size: 1.75rem;
}


.offcanvas-body {
    color: #ffffff;
    font-size: 1.5rem;
    justify-content: center;
}

.offcanvas-body .nav-link,
.offcanvas-body .nav-link.active {
    color: #ffffff;
}

.offcanvas-body .nav-link.active {
    background-color: #000000;
}


.btn {
    transition: 0.3s ease-in-out;
}


.btn:hover {
    transition: 0.3s ease-in-out;
    font-size: 140%;
}


.btn-yellow {
    color: #ffffff;
    background-color: var(--oc-yellow);
}

.btn-yellow:hover {
    color: #ffffff;
    background-color: var(--oc-dark-yellow) !important;
}


.btn-blue {
    color: #ffffff;
    background-color: var(--oc-blue);
}

.btn-blue:hover {
    color: #ffffff;
    background-color: var(--oc-dark-blue);
}


header .navbar {
    background: none;
    transition: 0.3s ease-in-out;
}


body {
    background-color: #000000 !important;
    font-family: 'Lexend', sans-serif !important;
    max-width: 100vw;
    color: #ffffff;
}


img {
    max-width: 100%;
    height: auto;
}

#home-nav-content {
    justify-content: space-evenly;
}

#home-nav-content .nav-item {
    width: 10rem;
    text-align: center;
    padding: 0 1rem 0 1rem;
}

#home-nav-content .nav-item:nth-of-type(3) {
    margin-right: 20rem;
}


#about {
    background-color: var(--oc-blue);
    color: #ffffff;
}

#gallery {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)), url(./assets/overcast-church.jpg);
    background-size: cover;
    background-position: center calc(50% - 15rem);
    background-repeat: no-repeat;
    min-height: 100vh;
}

#merch {
    background-color: var(--oc-yellow);
}

#events {
    background-color: var(--oc-blue);
}

#watch {
    background-color: #1C1C1C
}

#watch .row {
    margin: 2rem 0;
}

#contact {
    background-color: #ffffff;
}

footer {
    background-color: #585858;
    color: #ffffff;
    width: 100%;
    text-align: center;
    padding: 1rem;
    position: relative;
}

section {
    padding: 2rem;
    min-height: 10rem;
    text-align: center;
}

iframe {
    width: 100%;
    height: 50%;
}

#about img {
    width: 50%;
    height: auto;
}

p {
    font-size: 1.25rem;
}